Package: com.myvcam.tweak
Name: MyVCam
Version: 0.2.7
Architecture: iphoneos-arm64
Description: Camera viewfinder from a fixed local video. No mediaserverd injection.
Maintainer: MyVCam Project
Author: MyVCam Project
Section: Tweaks
Depends: mobilesubstrate
