Package: com.myvcam.tweak
Name: MyVCam
Version: 0.2.3
Architecture: iphoneos-arm64
Description: Camera feed loop from a fixed local video into the capture delegate. No mediaserverd injection.
Maintainer: MyVCam Project
Author: MyVCam Project
Section: Tweaks
Depends: mobilesubstrate
